@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

*{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	
}


.around {
	font-family: 'Hahmlet', serif;
	width: 1100px;
	margin:200px auto 0;
	text-align: center;

}

.around > h1{
	
    text-align: center;
    font-size:30px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
  
 
		
}

.container {
margin: 1% auto 0;

}

iframe{
    width: 100%;
}



select {
    margin: 10px auto 10px;
    float: right;
    position: absolute;
    right: 15%;
	top: 0%;
}

.container {
	width: 100%;
	position: relative;
	left: -3.4%;
}

 .button {
 		margin-top: 5%;
		color:black;
		font-size: 18px;
}


.around .page{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 5%;
    
}
.around .page div{
    margin: 3px;
}




