@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hahmlet', serif;
}

iframe {
    width: 100%;
}

.detail {
    font-family: 'Hahmlet', serif;
    width: 1100px;
    margin: 250px auto 200px;
}

.detail h1 {
    font-family: 'Hahmlet', serif;
    margin: 3% auto 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.detail .item {
    width: 50%;
    margin-right: 3%;
    font-weight: 600;
}

.campimg {
    margin-top: 4%;
}

.item>img {
    width: 100%;
}

.item>h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4%;
}

.weather>h3 {
    font-size: 20px;
    margin: 7% 0 2%;
}

.detail .container {
    display: flex;
}

.detail .container .campImg {
    width: 500px;
    height: 450px;
}

.detail .container .campImg img {
    width: 95%;
    margin: 50px 0;
}

.detail .container .item {
    display: flex;
    flex-flow: column;
}

/* ---------------캠핑장이름-------------------*/
.detail .container .item .campNm {
    height: 100px;
}

.detail .container .item .campNm h2 a {
    display: block;
    font-size: 40px;
    font-weight: 600;
    height: 60px;
    margin-bottom: 3px;
}

.detail .container .item .campNm p {
    font-size: 7px;
}

.detail .container .item .detailInfo {
    width: 550px;
    margin-bottom: 10px;
    line-height: 1.5em;
    backdrop-filter: blur(8px);
}

.detail .container .item .cc {
    display: flex;
    width: 500px;
    height: 55px;
}

.detail .container .item .cc .add {
    width: 230px;
    height: 50px;
}

.detail .container .item .cc .addr {
    width: 300px;
    height: 50px;
}

.detail .btnGroup {
	width: 1100px;
    display: flex;
    justify-content: flex-end;
    
    height: 30px;
}
.detail .btnGroup btn:first-child{
	margin-right: 10px;
}

.detail .btn1 {
    font-size: 18px;
    margin-right: 10px;
}

.detail .btn2 {
    font-size: 18px;
}