@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

*{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 5px auto 5px;
    
}

iframe{
    width: 100%;
}

.detail {
    width: 1100px;
    margin: 0 auto 0;

}

.detailimg > img {
    width: 40%;
    float: left;
    margin-top: 5%;
}


h2 {
    margin-top: 5%;
    margin-left: 4%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    float: left;
    
    
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.detailinfo {
    position: absolute;
    top: 43%;
    right: 39%;
}

.calender {
    position: absoulute;
    top: 43%;
    right: 39%;

}

.weather {
    float: right;
}

.btn1 {
    position: absolute;
    top: 75%;
    right: 42%;
}

.btn2 {
    position: absolute;
    top: 75%;
    right:38%;
}
