@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

.detailB{
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    margin-top: 132px;
    display: flex;
    flex-flow: column;
    position: relative;
    height: 640px;
}

.detailB .board .id {
    width: 150px;
    height: 40px;
    border: none;
    padding-top: 10px;
    
}

.detailB .board .flexBox {
    display: flex;
}

.detailB h3 {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid darkgray;
    width: 200px;
    line-height: 3;
}

.detailB .board .title {
    width: 650px;
    height: 40px;
    margin-left: 15px;
    border: none;
    padding-top: 10px;
}

.detailB .board .content {
    width: 500px;
    height: 400px;
    
    margin-bottom: 20px;
    border: 2px solid black;
}

.detailB .board .imageBox {
    width: 500px;
    height: 400px;
    
    margin-bottom: 20px;
    border: 2px solid black;
}

.detailB .btn-group {
    
    width: 200px;
    margin-left: 440px;
}

.detailB button {
    
    width: 60px;
    height: 37px;
    font-size: 16px;
    
    letter-spacing: 3px;
    margin-right: 2px;
}
.detailB .board .flexBox{
    position: relative;
}

.detailB .board .flexBox .imageBox {
    position: relative;
    display: flex;
    width: 500px;
    height: 400px;
}

.detailB .board .flexBox .imageBox img {
    width: 500px;
    height: 400px;
}


.bGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.detailB .board .flexBox .imageBox button
 {
    width: 30px;
    height: 25px;
    opacity: 0;
    border: 0;
    cursor: pointer;
}
.detailB .board .flexBox .imageBox:hover button{
    opacity: 1;
    transition: 1s;
}

.detailB .board select {
    height: 40px;
    width: 100px;
    padding: .8em .5em; 
    border: 1px solid #999;
    font-family: inherit;  
    background: url(../../resources/img/bottom.jpg) no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.detailB .board .topBox {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* -----------밑은 modify css 작성 예정 ------------ */

.wrap {
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    margin-top: 132px;
    display: flex;
    flex-flow: column;
    position: relative;
    height: 640px;
}

.wrap .headBox h3 {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid darkgray;
    width: 200px;
    line-height: 3;
}

.wrap .titleBox .IdM {
    width: 180px;
    height: 40px;
    border: none;
    margin-left: 20px;
}

.wrap .titleBox .titleM {
    width: 500px;
    height: 40px;
    background: rgb(202, 198, 198);
    margin-top: 45px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.wrap .contentBox  .contentM {
    width: 800px;
    height: 400px;
    
    margin-bottom: 20px;
    border: 2px solid black;
    resize: none;
}

.wrap .btnBox {
    width: 1100px;
    
    text-align: center;
}

.wrap button {
    
    width: 60px;
    height: 35px;
    margin-left: 20px;
}

.wrap .titleBox select {
    height: 40px;
    width: 100px;
    padding: .8em .5em; 
    border: 1px solid #999;
    font-family: inherit;  
    background: url(../../resources/img/bottom.jpg) no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.wrap .titleBox .topBox {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.wrap .rating {
    width: 200px;
    padding: .8em .5em; 
    border: 1px solid #999;
    font-family: inherit;  
    background: url(../../resources/img/bottom.jpg) no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.wrap .rating:hover {
    border: 2px solid yellow;
}
    
.wrap .rating select::-ms-expand {
    display: none;
}

.wrap .rating option {
    color: yellow;
    font-weight: 700;
    font-size: 15px;
}




/* ------------ 댓글 창 ---------------- */

.reply {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.reply label {
    color: black;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 3;
}

.reply .replyWrite {
    
    display: flex;
}

.reply .replyWrite .replyInput {
    width: 900px;
    height: 35px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    resize: none;
    outline: none;
    
}

.reply .replyWrite .registBtn {
    width: 100px;
    margin-left: 30px;
    background: skyblue;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

/* 댓글 내용 부분 */

.reply .replyContent {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
   
    line-height: 3;
}

.reply .replyContent .replyInfo {
    display: flex;
    
     line-height: 3;
     
}

.reply .replyContent .replyInfo .replyWriter {
    font-size: 16px;
    font-weight: bold;
    
}

.reply .replyContent .replyInfo .replyDate {
    font-size: 16px;
    font-weight: 600;    
}

.reply .replyContent .replyText .replyFix {
    font-size: 16px;
}

.reply .replyText {
    display: flex;
}

.reply .replyText .replyCnt {
    width: 900px;
    height: 50px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    resize: none;
    outline: none;

}




