@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap'); */
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Hahmlet', serif;
}

/* 게시판 영역 */
.board {
    margin: 0 auto;
    margin-top: 150px;
}

.board .board-selector {
    /* 게시판 선택 */
    margin-bottom: 70px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.board .board-selector a {
    width: 250px;
    height: 50px;
    line-height: 50px;
    border: 1px solid hwb(0 0% 100% / 0.01);
    margin: 0 10px;
}

.board .tab {
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.board .tab .write {
    width: 100px;

}

.board .tab .search {
    width: 250px;
}

.board .tab  input {
    height: 100%;
    border: 1px solid #000;
    padding: 10px;
    margin-right: 5px;
}

 .board .tab .search button {
    width: 35px;
    height: 100%;
}
.board .board-list{
    width: 100%;
    height: 336px;
    border-bottom: 1px solid #777;
    backdrop-filter: blur(8px);
    
}
.board table {
    width: 100%;
    border-top: 1px solid #777;
    
}

.board table th {
    width: 10%;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

.board table .title {
    width: 60%;
}

.board table tr {
    /* border: 1px solid #000; */
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}

.board table tr td {
    padding: 3px 10px;
    line-height: 16px;
}

.board table tr td:nth-child(2) {
    /* 제목 */
    text-align: left;
    text-indent: 120px;
    
}

.board table tr td:nth-child(2) a:hover  {
    text-decoration: underline;
    transform: scale(1.15);
}

.board table tr td:nth-child(2):hover tr {
    background-color: rgb(252, 242, 227);
}

.board .page {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 10px;
}

.board .page div {
    margin: 3px;
}

/* 게시판 영역끝 */

/* <!-- 부트스트랩 --> */
button {
    background-color: #fff;
    cursor: default;
    outline: none;
}

button:focus {
    outline: none;
}

.search-container {
    display: flex;
}

.board {
    margin: 250px auto 200px;
    font-family: 'Hahmlet', serif;
    width: 1100px;
    text-align: center;
}

.board .tab>.search-container {
    display: flex;
}

.board .tab>.search-container .item {
    margin-right: 2%;
}

.board .tab>.search-container .item>.btn {
    margin-left: 2%;
}

.board .tab>.search-container>.item d-flex {
    margin-left: 10px;
}