@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}
body{
    
}

header{
    width: 100%;
    height: 100px;
    
   
    
    box-sizing: border-box;
    position: relative;
    position: fixed;
    top: 0;
    transition: background-color 1s;
    
}
header:hover {
    background-color: rgb(252, 242, 227);
    height: 250px;
    transition: all 0.5s ease-in-out;
    animation-fill-mode: both;
}

header .section{
    width: 1500px;
    margin: auto auto;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    
}
header .section .logo{
    width: 100px;
    margin-right: 10px;
}
header .section .title{
    width: 200px;
    font-size: 30px;    
    line-height: 1.2;
}
header .section .menu{
    width: 350px;
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
header .section .menu .menu-down{
    margin-left: 20px;
}


header .dropdown{ /*하위메뉴*/
    display: none;
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 0.8em;
    
}
header:hover .dropdown { /*하위메뉴:호버*/
    display: flex;
    flex-flow: column;
    transition: all 2s ;
}
header .section .header-right{ /* 검색창 | 로그인정보*/
    width: 300px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: end;    

}
header .section .header-right .search{
    width: 150px;
    height: 30px;
    
    margin: auto 0;
    margin-right: 20px;
    

}
header .section .header-right .profile {
    display: flex;
    flex-flow: column;
}
header .section .header-right .profile img{
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(252, 242, 227);
    
}
footer .section{
    width: 1100px;
    font-size: 10px;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    padding: 15px;
    line-height: 15px;

}
footer .section img {
    margin-right: 100px;
    width: 80px;
}
