@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap'); */

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Hahmlet', serif;
}

.clearfix:before,
.clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

html {
    position: relative;
}

header {
    font-family: 'Hahmlet', serif;
    width: 100%;
    height: 80px;
    z-index: 9999;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    position: fixed;
    top: 0;
    transition: background-color 1s;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
}

header:hover {
    background-color: rgb(252, 242, 227);
    height: 200px;
    transition: all 0.5s ease-out;
    animation-fill-mode: both;
    opacity: 1;
}

header .section {
    width: 1500px;
    margin: auto auto;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;

}

header .section .logo {
    width: 80px;
    margin-right: 10px;
    opacity: 1;
}

header .section .title {
    width: 200px;
    font-size: 30px;
    line-height: 1.2;
    opacity: 1;
}

/* 메뉴 영역 */
header .section .menu {
    width: 400px;
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

header .menu .menu-down {
    width: 120px;
    margin-top: 10px;
    justify-items: center;
}

header .menu .menu-down .in-menu {
    text-align: center;
    display: flex;
    justify-items: center;
    font-weight: bold;
}
header .menu .menu-down a{
    height: 20px;
}
header .menu .menu-down a:hover{
    font-size: 1.1em;
    text-decoration: underline;
}

header .dropdown {
    /*하위메뉴*/
    display: none;
    position: absolute;
    top: 50px;
    font-size: 15px;
    margin-top: 10px;
}

header:hover .dropdown {
    /*하위메뉴:호버*/
    display: flex;
    flex-flow: column;
    transition: all 2s ease-out;
    margin-top: 10px;
}

header .dropdown a {
    width: 100%;
    margin-bottom: 5px;
    line-height: 20px;
    justify-self: center;
}

header .dropdown a:hover{
    text-decoration: underline;
    font-size: 1.1rem;
}
/* 메뉴영역 끝*/

header .section .header-right {
    /* 검색창 | 로그인정보*/
    width: 300px;
    position: absolute;
    right: 10px;
    display: flex;
    flex-flow: row;
}

/* header .section .header-right .search{
    width: 150px;
    height: 30px;
    margin: auto 0;
    margin-right: 0px;	
}
 */
header .section .header-right  {
    display: flex;
}

/* 
.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    font-size: 23px;
    margin-left: 2px;
}
 */
 #loginA{
    display: flex;
    flex-flow: row;    
 }
#loginA img {
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
#loginA .profile{
    display: flex;
    flex-flow: column;
}

header .section .header-right .login {
    display: none;
}

#loginH {
    margin-left: 50px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(252, 242, 227);
}

footer .section {
    width: 1100px;
    font-size: 10px;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    padding: 15px;
    line-height: 15px;
}

footer .section img {
    margin-right: 100px;
    width: 80px;
}

/* <!--모달--> */
.modal button {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 500px;
    padding: 15px;
}

.modalBox button {
    display: block;
    width: 70px;
    margin: 0 auto;
    cursor: pointer;
}

.modalBox h2 {
    font-weight: bold;
    font-size: 18px;
    padding: 5%;
    margin-bottom: 10px;
}

.modalBox .closeBtn {
    color: white;
    background: black;
   
    cursor: pointer;
}

.hidden {
    display: none;
}
/* <!-- 모달끝 --> */

/* <!--모달2 시작 --> */
.m2 button {
    
    width: 100px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 100%;
}

.m2 {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m2>.bg2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.mB2 {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 350px;
    padding: 15px;
}

.mB2>button {
    display: block;
    width: 100px;
    margin: 0px auto 0px;
    cursor: pointer;
}

.mB2>h2 {
    font-weight: bold;
    font-size: 18px;
    padding: 5%;
    margin-bottom: 10px;
}

.mB2>.cB2 {
    color: white;
    background: black;
   /*  margin-top: 3%; */
    cursor: pointer;
}

.h2 {
    display: none;
}
/* <!-- 모달2 끝 --> */

<!--부트스트랩 적용 취소-->
a, .btn:active, .btn:focus {
outline:none !important;
box-shadow:none !important;
}
a:hover, a:active { 
	outline:none !important;
	text-decoration:none !important;
	color: black !important;
	}
#background-right{
    position: fixed;
    right: -264px;
    top: 64%;
    transform: translateX(-50%);
    width: 575px;
    opacity: 0.2;
    z-index: -999;
}
#background-left{
    position: fixed;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    width: 938px;
    opacity: 0.12;
    z-index: -999;
}
#moon {
    position: fixed;
    right: 57px;
    top: 12%;
    transform: translateX(-50%);
    width: 128px;
    opacity: 1;
    z-index: 999;
}
#hae {
        position: fixed;
    /* right: 57px; */
    left: 60px;
    top: 8.6%;
    transform: translateX(-50%);
    width: 140px;
    opacity: 0.15;
    z-index: -999;
}
#logout {
	    height: 33px;
  
    transform: translateY(50%);
}