@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

*{
    padding: 0;
    margin: 0;
    font-family: 'Hahmlet', serif;
}
a{
    text-decoration: none;
    color: black;
   
}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}




/* ---------- JOIN ------------ */

.wrap {
   /*  background: black;  */
    width: 1100px;
    margin: 0 auto;
    margin-top: 150px;
    /* height: ; */
    /* overflow: auto; */
    color: black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
}

.wrap .join .joinBox .joinUser {
   /*  background: yellow;  */
    float: left;
    width: 40%;
    /* height: 700px; */
    text-align: center;
    margin-top: 20%;
   /*  border-right: 2px solid darkgray; */
    
}

.wrap .join .joinBox .joinUser h3 {
    color: black;
    font-family: 'Hahmlet', serif;
    font-size: 40px;
    font-weight: bold;
}






.wrap .join .joinBox .joinMain {
    /* background: yellowgreen; */
    font-family: 'Hahmlet', serif;
    float: right;
    width: 58%;
    height: 600px;
    margin-top: 100px;
    font-size: 25px;
    display: flex;
    flex-flow: column;

    position: relative;
  
}
.wrap .join .joinBox .joinMain .form-group{
    display: flex;
    flex-flow: row;
    margin-top: 20px;
}
.wrap .join .joinBox .joinMain .form-group label{
    font-size: 20px;
    width: 140px;
    line-height: 30px;
}

input {
    width: 250px;
    height: 35px;
    line-height: 1.2; 
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

input::placeholder {
  font-size: 15px;
 
}

input:focus { 
    outline: none !important; 
    border-color: gray; 
    box-shadow: 1px 3px 5px 1px gray;     
}
.msg{
    margin-left: 8px;
    font-size: 10px;
    line-height: 30px;   
}

.wrap .join .joinBox .joinMain button {
   /*  width: 80px;
    height: 25px;
    background: rgb(252, 242, 227);
    border: 0;
    box-shadow: 1px 1px 1px 1px gray; */
}
#mailSendBtn {
    width: 100px;
}
.wrap .join .joinBox .joinMain select {
    height: 30px;
    width: 130px;
    font-size: 15px;

}


/* .wrap .join .joinBox .joinMain .id-box {
    float: left;
}

.wrap .join .joinBox .joinMain .idCheck {
   float: right;   
} */

.wrap .join .joinBox .joinMain .mail-check-input{
    margin-top: 15px;
    margin-left: 140px;
}

.wrap .join .joinBox .joinMain .form-group .mailbox .mailCheckBox{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    /* background-color: yellow; */
    margin-top: 5px;
}
.wrap .join .joinBox .joinMain .form-group .mailbox .mailCheckBox button{
    margin-left: 10px;
}
.wrap .join .joinBox .joinMain .addr{
    display: flex;
    flex-flow: column;    
}
.wrap .join .joinBox .joinMain .input-group {
    display: flex;
    font-family: row;
}

.wrap .join .joinBox .joinMain .bottomBtn {
    position: absolute;
    right: 0;
    bottom: 0;

}

#addrZipNum {
	margin-bottom: 5px;
	margin-right: 10px;
}

#addrBasic {
	margin-bottom: 5px;
	font-size: 15px;
}

#addrDetail {
	margin-bottom: 5px;
	font-size: 15px;
}


#joinBtn {
	font-size: 18px;
}











