@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}
body{
    
}

header{
    width: 100%;
    height: 100px;
    
   
    
    box-sizing: border-box;
    position: relative;
    position: fixed;
    top: 0;
    transition: background-color 1s;
    
}
header:hover {
    background-color: rgb(252, 242, 227);
    height: 250px;
    transition: all 0.5s ease-in-out;
    animation-fill-mode: both;
}
@keyframes dropdown {
    
}

header .section{
    width: 1500px;
    margin: auto auto;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    
}
header .section .logo{
    width: 100px;
    margin-right: 10px;
}
header .section .title{
    width: 200px;
    font-size: 30px;    
    line-height: 1.2;
}
header .section .menu{
    width: 350px;
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
header .section .menu .in-menu{
    margin-left: 20px;
}
header .section .header-right{
    width: 300px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: end;    

}
header .section .header-right .search{
    width: 150px;
    height: 30px;
    
    margin: auto 0;
    margin-right: 20px;
    

}
header .section .header-right .profile {
    display: flex;
    flex-flow: column;
}
header .section .header-right .profile img{
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}


/* ------------------------------------- */
/* 개인정보 수정 */

.privacyFix>.fixBox {
	font-family: 'Hahmlet', serif;
	/* background: red; */
	margin: 0 auto 200px;
	#userPw: {
	font-size: 10px;
	}
}

input::placeholder {
  font-size: 15px;
}

#email2 {
	font-size: 15px;
}

#addrBasic {
	font-size: 15px;
}

/* ------------------------ */
/* 좌측 선택창 시작 */
.wrap {
    /* background: yellowgreen; */
    width: 1200px;
    margin: 150px auto 150px;
    height: 100%;
    /* overflow: auto; */
    color: black;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
}

.wrap .menuBox .infoKind {
    /* background: burlywood; */
    float: left;
    width: 39%;
    height: 700px;
    font-size: 30px;
    margin-top: 10%;
    border-right: 1px solid darkgray; 
}

.wrap .menuBox .infoKind a {
    margin-left: 20%;
    line-height: 3;
}

.wrap .menuBox .infoKind a:hover {
    text-decoration: underline;
    color: darkgray;

}
/* ------------------------ */
/* 좌측 선택창 끝 */

.wrap .privacyFix {
    /* background: orange; */
    float: right;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.wrap .privacyFix input {
    width: 300px;
    height: 30px;
}

.wrap .privacyFix label {
    color: black;
}

.wrap .privacyFix .addrDetail {
    height: 50px;
}

.wrap .privacyFix select {
    height: 30px;
    width: 130px;
}

.wrap .privacyFix .checkBoxE {
    /* color: red; */
}

.wrap .privacyFix .fixBox {
    /* background: sienna; */
    margin-left: 5%;
    margin-top: 15%;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
}

.wrap .privacyFix .fixBox h3 {
    font-size: 40px;
    text-align: center;
    padding: 20px 20px 10px;
}

.wrap .privacyFix .fixBox .tip {
    font-size: 0.8em;
    text-align: center;
    margin: 5px;
    color: crimson;
}

.wrap .privacyFix .fixBox .form-group {
    /* background: teal; */
    margin-top: 10px;
}

.wrap .privacyFix .fixBox button {
    /* color: red; */
    width: 80px;
    height: 35px;
    margin-left: 10px;
    /* background: skyblue; */
    /* border: 1px solid gray; */
    

}

.wrap .privacyFix .fixBox .fixBtn {
    margin-right: 20px;
}

.wrap .privacyFix .fixBox .bottomBtn {
    /* background: yellow; */
    display: flex;
    margin-left: 50%;
    margin-top: 5%;
}

.warp .privacyFix .fixBox .bottomBtn .withdrawa {
    margin-left: 20px;
}

/* ------------------------------- */
/* 개인 수정 정보 끝 */


/* ----------------------------- */
/* 예약 정보 시작 */
.wrap .reservationInfo {
	font-family: 'Hahmlet', serif;
    /* color: red; */
    float: right;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    /* background: yellow; */
}

.wrap .reservationBox {
    margin-top: 13%;
}

.wrap .reservationInfo h3 {
    font-size: 40px;
    text-align: center;
    padding: 20px 20px;
    
}

.wrap .reservationInfo h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.wrap .reservationInfo img.campImg {
  width: 400px;
  height: 400px;
  margin-left: 20%;
 
  
}

.wrap .reservationInfo .campInfo {
    line-height: 2.5;
    margin-left: 170px;
    font-weight: 600;
}

.wrap .reservationInfo .go-main-btn button {
    width: 80px;
    height: 35px;
   /*  background: skyblue; */
    /* border: 1px solid gray; */
    margin-left: 65%;
    margin-top: 5%;
}

/* --------------------------------- */
/* 예약정보 끝 */

/* ---------------------------------- */
/* 내 게시글 정보 시작 */

.wrap .myBoard {
	font-family: 'Hahmlet', serif;
    /* background: yellowgreen; */
    float: right;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.wrap .myBoard .myBoardBox h3 {
	
    font-size: 40px;
    text-align: center;
    padding: 20px 20px;
}

.wrap .myBoard .myBoardBox {
    margin-top: 13%;
}

.wrap .myBoard .titleBox {
    /* background: burlywood; */
    text-align: center;
    margin-top: 5%;
    padding: 30px;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 20px;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

.wrap .myBoard .titleBox a:hover {
    text-decoration: underline;
    font-weight: 500;
    color: rgb(58, 55, 55);
}

/* 게시글 테이블 */
.wrap .myBoard .myBoardList {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    margin: 20px auto 10px;
    text-align: center;
    /* background: rgb(68, 57, 57); */
    border-bottom: 2px solid darkgray;
}
.wrap .myBoard .myBoardBtn {
    display: flex;
    margin-top: 20px;
    margin-left: 550px;
    
}

.page {
	
	margin-left: 38%;
}

.wrap .myBoard .myBoardBtn button {
   /*  width: 80px;
    height: 35px;
    background: skyblue;
    border: 1px solid gray; */
}

.wrap .myBoard .myBoardBtn .boardBtn {
    margin-right: 25px;
}


/* 모달 수정 합니다. */
.infoModal {
	font-family: 'Hahmlet', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400;
    height: 400px;
    padding: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 6px 2px 3px 6px rgb(186 187 189 / 32%);
    transform: translateX(-50%) translateY(-50%);
    border: 4px solid #8a8282;
    display: none;

}

.infoModal.show {
    display: block;
  }



.infoModal .reText p{
	line-height: 2; 
    /* border-bottom: 2px solid gray; */
    margin-bottom: 20px;
    margin-top: 32px;
    font-size: 20px;
    font-weight: bold;
}

.infoModal .pwBox .inputPw{
	width: 100%;
    height: 20%;
    font-size: 25px;
    margin-bottom: 30px;
}

.infoModal .btnBox button{
	
	background: #dcdada;
    width: 60px;
    height: 40px;
    margin-right: 10px;
}






