<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camping.wego.campsite.mapper.ICampsiteMapper">

	<insert id="insert">
		INSERT INTO campsite
		(faclt_nm, line_intro, intro, first_image_url, tel, induty, addr, homepage, map_x, map_y)
		VALUES
		(#{facltNm}, #{lineIntro}, #{intro}, #{firstImageUrl}, #{tel}, #{induty}, #{addr}, #{homepage}, #{mapX}, #{mapY})
	</insert>
	
	<update id="removeJu">
	update campsite set faclt_nm=substring_index(faclt_nm,'(주)',-1)
	</update>
	
	<select id="getList" resultType="camp">
		SELECT * FROM campsite
		ORDER BY cno ASC
		LIMIT 0, 10
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM campsite
	</select>

	<select id="info" resultType="camp">
		SELECT * FROM campsite
		WHERE cno = #{cno}
	</select>
	
	<select id="getCount" resultType="int">
	select count(cno) from campsite
	</select>
	
	<update id="inputAmount">
		UPDATE campsite SET amount = #{amount}, faclt_nm = substring_index(faclt_nm , '(주)',-1),  faclt_nm = substring_index(faclt_nm , '㈜',-1)WHERE cno = #{cno}		
	</update>
	
	<select id="addrList" resultType="camp">
		SELECT * FROM campsite (addr LIKE  '#{addr1}%' AND addr like '%#{addr2}%')
	</select>
	
	<select id="addrCode" resultType="string">
		SELECT code FROM forecast WHERE addr_name = #{addrName}
	</select>

</mapper>