<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.camping.wego.pay.mapper.IPaymentMapper">
	<insert id="insert">
		INSERT INTO payment
		(pay_num, partner_user_id, amount, cno, quantity, item_name,tid, daterange)
		VALUES
		(#{payNum},#{partnerUserId},#{amount},#{cno},#{quantity},#{itemName},#{tid},#{daterange})
	</insert>
	
	<select id="loadPay" resultType="pay">
		SELECT * FROM payment WHERE pay_num = #{payNum}
	</select>
	
	<select id="loadTid" resultType="pay">
		<!-- SELECT * FROM payment WHERE tid = #{tid} -->
		SELECT pay_num, partner_user_id, p.amount, pay_date,  quantity, item_name, tid, p.cno, c.tel, c.addr, p.daterange
 		FROM payment p
		LEFT JOIN campsite c
		ON p.cno = c.cno
		WHERE tid = #{tid};
	</select>
	
	<select id="inPayNum" resultType="int">
		SELECT COUNT(*) FROM payment WHERE pay_num = #{payNum}
	</select>
	
	<select id="getList" resultType="pay">
		SELECT * FROM payment WHERE partner_user_id = #{userId}
	</select>
</mapper>