<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.camping.wego.user.mapper.IUserMapper">

	<sql id="cls">
		<if test="paging.cls gt 0 and paging.cls lt 5">
			AND cls = #{paging.cls}
		</if>
	</sql>

	<insert id="join">
		INSERT INTO users
			(user_id, user_pw, user_name, user_phone, user_email1, user_email2,
			 addr_basic, addr_detail, addr_zip_num)
		VALUES
			(#{userId}, #{userPw}, #{userName}, #{userPhone}, #{userEmail1}, #{userEmail2},
			 #{addrBasic},#{addrDetail},#{addrZipNum})
	</insert>

	<delete id="withdrawal">
		DELETE FROM users WHERE user_id = #{userId}
	</delete>

	<select id="idCheck" resultType="int">
		SELECT count(*) FROM users WHERE user_id = #{userId}
	</select>
	
	<select id="login" resultType="string">
		SELECT user_pw FROM users 
		WHERE user_id = #{userId}
	</select>
	
	<select id="myContentList" resultType="board">
		SELECT * FROM board
		WHERE writer = #{userId}
		<include refid="cls" />
		ORDER BY bno DESC
		LIMIT #{paging.pageStart}, #{paging.cpp}
	</select>
	
	<select id="getMyTotal" resultType="int">
		SELECT COUNT(*)
		FROM board
		WHERE writer = #{userId}
		<include refid="cls" />
	</select>
	
	<select id="info" resultType="user">
		SELECT * FROM users
		WHERE user_id = #{userId}
	</select>
	
	<select id="getName" resultType="String">
		SELECT user_name FROM users
		WHERE user_id = #{userId}
	</select>

</mapper>