    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/main/webapp/resources/css/main/main.css">
        <title>Document</title>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/src/main/webapp/resources/js/slick.min.js"></script>

<link rel="stylesheet" href="/src/main/webapp/resources/css/main/slick.css" />
<link rel="stylesheet" href="/src/main/webapp/resources/css/main/slick-theme.css" />


<script>
$( document ).ready( function() {
    $('.autoplay').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 4500,
});
  } );
</script>
 
    </head>
    <body>
        <iframe src="/src/main/webapp/WEB-INF/views/include/header.html"></iframe>
        <br>
        <section>
        <div class="autoplay">
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam1"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam2"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam3"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam4"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam5"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam6"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam7"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam8"></div>
            <div class="box"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="cam9"></div>

        </div>
        <br><br><br>

        <h1>날씨</h1>

        <div class ="weather"><a href="#">오늘 날씨</a></div>
        <div class ="weather"><a href="#">이번주 날씨</a></div>
        <div class ="weather"><a href="#">이번달 날씨</a></div>
        <div class ="clearfix"></div>
        <div class="weatherInfo">날씨정보</div>
        <span><a href="#">더보기</a></span>
        <div class ="clearfix"></div>
    </section>

        <footer>

            <div class="container">
        
                <div class="footer-info">
                    개인 정보 처리 방침 | 고객센터 | 이용약관 | 전체서비스 <br>
                    주소: 서울 마포구 백범로23, 신수동 63-14 <br>
                    tel: 02-248-3657 <br>
                </div>
        
                <div class="footer-text">
                    고객센터: 02-232-5598 | 
                    평일: 09:00 ~ 18:00(점심시간 12:30 ~ 13:30) <br>
                    대표자: 박이김권 | 
                    0311wlsgus@gmail.com
                </div>
            </div>
                <a href="">
                    <img src="/src/main/webapp/resources/img/logo.png" alt="logo">
                </a>
        
        </footer>
    </body>
    </html>