<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section{
            display: flex;
            flex-flow: column;
        }
        .line{
            display: flex;   
            flex-flow: row;
        }
    </style>
</head>
<body>
    <section>
       <h2>예약이 완료되었습니다.</h2>
       <hr>
       <p>예약자명: </p>

       <div class="rsvInfo line">
           <p>날짜: </p>
           <p>몇명</p>
       </div>

       <div class="rsvPay line">
           <p>결제번호: </p>
           <p>결제금액: </p>
       </div>

       <h3>캠핑장명</h3>

       <div class="campInfo line">
           <p>주소</p>
           <p>전화번호</p>
       </div>
       

    </section>
</body>
</html>