@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

*{
	
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	font-family: 'Hahmlet', serif;
	
}


.container {
    display: flex;
    
}

.item { 
    width: 32%;
}

