<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/webapp/resources/css/reservation/reservation.css">
    <title>Document</title>
     
     <!-- 지도 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a794993ff42fe875a35d1785f0b6bbb3"></script>
     
     <!-- 달력 -->
      <link href="dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
        <script src="dist/js/datepicker.min.js"></script>

        <!-- Include English language -->
        <script src="dist/js/i18n/datepicker.en.js"></script>
  
  
  <!--지도 끝-->
</head>
<body>
    <article class="reservation">
    <h1>캠핌장명</h1>
    <div class="container">
        <div class="item"> 지도 실패<div id="map"></div>
        <script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>
	</div>
        
        <div class="item">달력
        <input type="text" class="air-datepicker" data-range="true" data-multiple-dates-separator="~" id="searchDate">
       <script>
var sDt = '2021-05-01'; // 파라미터
var eDt = '2021-05-11'; // 파라미터
$(function(){
	if(sDt != '' && eDt != ''){
		$('#searchDate').datepicker().data('datepicker').selectDate(new Date(sDt));
		$('#searchDate').datepicker().data('datepicker').selectDate(new Date(eDt));
	}	
});
</script>
        </div>
        <div class="item">날씨</div>

    </div>
</article>
</body>
</html>