<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/webapp/resources/css/reservation/reservation.css">
    <title>Document</title>
</head>
<body>
    <article class="reservation">
    <h1>캠핌장명</h1>
    <div class="container">
        <div class="item">지도</div>
        <div class="item">달력</div>
        <div class="item">날씨</div>

    </div>
</article>
</body>
</html>