<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/webapp/resources/css/around/detail.css">
    <title>Detail</title>
</head>
<body>
    <iframe src="/src/main/webapp/WEB-INF/views/include/header.html"></iframe>
    <article class="detail">
    <h1>캠핑장 상세보기</h1>
    <div class="detailimg"><img src="/src/main/webapp/resources/img/cam1.jpg" alt="detailcam1"></div>
    
    <h2>캠핑장명</h2>
    <div class ="clearfix"></div>
    <p class="detailinfo">상세정보 가나다라마바사아자차카타파하</p>

    <div class="calendar">달력</div>
    <div class="weather">날씨정보</div>
    <br><br><div class ="clearfix"></div>
    <button class="btn1">목록</button>
    <button class="btn2">예약하기</button>
</article>
    
</body>
</html>