<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/webapp/resources/css/header-style.css">
    <link rel="stylesheet" href="/src/main/webapp/resources/css/board.css">
</head>

<body>

    <header>
        <div class="section">
            <img class="logo" src="logo.png" alt="logo">
            <div class="title" class="clearfix">Camping</div>

            <div class="menu clearfix">
                <div class="menu-down">
                    <a href="#" class="in-menu" id="reservation">예약하기</a>
                </div>
                <div class="menu-down"><a href="#" class="in-menu" id="view">캠핑장 둘러보기</a></div>
                <div class="menu-down"><a href="#" class="in-menu" id="board">게시판</a></div>



                <!-- <div class="in-menu" id="reservation">예약하기</div>
                <div class="in-menu" id="view">캠핑장 둘러보기</div>
                <div class="in-menu" id="board">게시판</div> -->
            </div>
            <div class="header-right">
                <input type="text" class="search clearfix" placeholder="검색어를 입력하세요.">
                <div class="profile">
                    <img class="profile-img" src="profile.png" alt="profile">
                    <a href="#" class="user">홍길동님</a>
                </div>
            </div>
        </div>
        <div class="section-dropdown">

        </div>
        <div></div>
    </header>


<article class="board">
    <div class="board-selector">
        <a href="">후기</a>
        <a href="">꿀팁</a>
        <a href="">메이트찾기</a>
        <a href="">건의사항</a>
    </div>
    <div class="tab">
        <a class="write">글쓰기</a>

        <div class="search">            
            <input type="text" placeholder="검색어를 입력해주세요">
            <a href="">검색</a>
        </div>
    </div>
    <table>
        
        <th class="head"></th>
        <th class="title">제목</th>
        <th class="writer">작성자</th>
        <th class="regDate">작성일</th>
        <th class="hit">조회</th>
    <tr>
            <td>후기</td>
            <td>너무 좋아요</td>
            <td>캠핑초보</td>
            <td>23-05-24</td>
            <td>23</td>
        </tr>
        <tr>
            <td>매칭</td>
            <td>같이 노실분?</td>
            <td>심심한사람</td>
            <td>23-05-23</td>
            <td>12</td>
        </tr> 
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
    <div class="page">
        <div>이전</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>다음</div>
    </div>
</article>

    <footer>
        <div class="section">
            <img src="./logo.png" alt="logo">
            <div class="container">
                <div class="footer-info">
                    개인 정보 처리 방침 | 고객센터 | 이용약관 | 전체서비스 <br>
                    주소: 서울 마포구 백범로23, 신수동 63-14 <br>
                    tel: 02-248-3657 <br>
                </div>
                <div class="footer-text">
                    고객센터: 02-232-5598 |
                    평일: 09:00 ~ 18:00(점심시간 12:30 ~ 13:30) <br>
                    대표자: 박이김권 |
                    0311wlsgus@gmail.com
                </div>
            </div>
        </div>
        
    </footer>
</body>

</html>